{% extends 'base.html' %}
{% block content %}
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">{{ user.username }}</h4>
  </div>
</div><br>
<div class="ml-auto">
  {% if g.user.id == user.id %}
    <a href="/users/profile" class="btn btn-warning">Edit Profile</a>
    <br>
    <form method="POST" action="/users/delete" class="form-inline">
      <button class="btn btn-danger ml-2">Delete Profile</button>
    </form><br>
  {% endif %}
  <div>
    <h2>Favorites</h2>
  </div>
  <div>
    <ul>
      {% for fav in favorites %}
        <li>
          {% if fav.category == 'People' %}
            <a href="/categories/people/person?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.name }}</a>
          {% elif fav.category == 'Films' %}
            <a href="/categories/films/film?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.title }}</a>
          {% elif fav.category == 'Planets' %}
            <a href="/categories/planets/planet?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.name }}</a>
          {% elif fav.category == 'Species' %}
            <a href="/categories/species/specie?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.name }}</a>
          {% elif fav.category == 'Starships' %}
            <a href="/categories/starships/starship?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.name }}</a>
          {% elif fav.category == 'Vehicles' %}
            <a href="/categories/vehicles/vehicle?data={{ fav.data.url }}" class="fav-link">{{ fav.category}} - {{ fav.data.name }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}