{% extends 'base.html' %}
{% block content %}
<br>
  <div>
    <h2>Categories</h2>
  </div><br>
  <div>
    <a href="/categories/people"><button class="btn btn-category">People</button></a>
  </div><br>
  <!-- <div>
    <a href="/categories/films"><button class="btn btn-category">Films</button></a>
  </div><br> -->
  <div>
    <a href="/categories/planets"><button class="btn btn-category">Planets</button></a>
  </div><br>
  <div>
    <a href="/categories/species"><button class="btn btn-category">Species</button></a>
  </div><br>
  <div>
    <a href="/categories/starships"><button class="btn btn-category">Starships</button></a>
  </div><br>
  <div>
    <a href="/categories/vehicles"><button class="btn btn-category">Vehicles</button></a>
  </div>
{% endblock %}